/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* Container */

.container {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.container-sm {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

/* Column */

.col-25 {
  width: 25%;
}

.col-30 {
  width: 30%;
}

.col-40 {
  width: 40%;
}

.col-60 {
  width: 60%;
}

.col-70 {
  width: 70%;
}

.col-100 {
  width: 100%;
}

/* Header */

.page-header {
  background-color: #255ee9;
  padding: 10px 0;
}

.page-header .row {
  align-items: center;
}

.login {
  text-align: center;
  border-radius: 15px;
  background-color: white;
  padding: 5px 15px;
}

/* Nav */

nav {
  flex-grow: 1;
}

li {
  display: inline-block;
  margin: 0 10px;
}

.links {
  text-align: center;
  color: white;
}

/* Main */

main section {
  padding-top: 20px;
}

main > section:nth-child(odd) {
  background-color: #c3c3c3;
}

/* Hero Section */

.hero-section .row {
  align-items: center;
  min-height: 715px;
}

.hero-section .col-100 {
  text-align: center;
  color: white;
}

.hero-section {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  min-height: 715px;
}

.download-btn {
  background-color: white;
  border-radius: 15px;
  padding: 10px 15px;
  border: 0;
}

.browser-btn {
  background-color: #23272a;
  border-radius: 15px;
  padding: 10px 15px;
  color: white;
  border: 0;
  margin-left: 10px;
}

.hero-title {
  font-size: 2rem;
  margin-bottom: 15px;
}

.hero-content {
  margin-bottom: 10px;
}

/*  Server Section */

.server-section .row {
  min-height: 400px;
}

.server-section .row .col-60 {
  background-image: url(../img/item1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.server-section > img {
  display: block;
  filter: invert(76%) sepia(0%) saturate(1065%) hue-rotate(147deg)
    brightness(102%) contrast(94%);
}

.server-section .col-40 .row {
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.sub-title {
  margin-bottom: 15px;
}

/*  Channel Section */

.channel-section .container > .row {
  min-height: 400px;
}

.channel-section > img {
  display: block;
  transform: scaleX(-1);
  filter: invert(100%) sepia(0%) saturate(4%) hue-rotate(137deg)
    brightness(104%) contrast(100%);
}

.channel-section .row .col-60 {
  background-image: url(../img/item2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.channel-section .col-40 .row {
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  height: 400px;
}

/* Fandom */

.fandom-section .row {
  min-height: 400px;
}

.fandom-section > img {
  display: block;
  filter: invert(76%) sepia(0%) saturate(1065%) hue-rotate(147deg)
    brightness(102%) contrast(94%);
}

.fandom-section .row .col-60 {
  background-image: url(../img/item3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fandom-section .col-40 .row {
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  height: 400px;
}

/* Call Section */

.call-section {
  min-height: 400px;
  padding-bottom: 50px;
}

.call-section .row {
  text-align: center;
}

.call-section .download-btn {
  background-color: #7289da;
  color: white;
}

.call-section h3 {
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  line-height: 100px;
  background-size: 50%;
  background-position-y: 10px;
  background-position-x: 175px;
}

/* Footer */

.page-footer {
  padding-top: 20px;
  background-color: #222629;
}

.lower-footer {
  margin-top: 20px;
  padding-bottom: 20px;
}

.lower-footer div.row {
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.divider {
  border-top: 1px solid #7289da;
  padding-top: calc(20px - 1px);
}

.lower-footer .sign-in-btn {
  background-color: #7289da;
  border-radius: 15px;
  color: white;
  padding: 5px 15px;
}

.title-footer {
  color: #7289da;
  font-size: 1.5rem;
}

.upper-footer .container > .row {
  padding: 15px 30px;
}

.upper-footer .row img {
  height: 1rem;
}

.upper-footer .col-30 > .row {
  padding: 10px 0;
  color: white;
}

.upper-footer .col-25 * {
  color: white;
  padding-bottom: 10px;
}

.upper-footer .col-25 {
  margin-right: 20px;
}

.upper-footer .sub-title-footer {
  color: #7289da;
  font-size: 0.9rem;
}

.lang {
  margin-left: 5px;
}

.sites {
  color: white;
}

.sites img {
  margin-right: 15px;
  margin-top: 10px;
}

.upper-footer li {
  margin: 0;
}
